{% extends "layout.html" %}
{% block head %}
<style>
    textarea {
        width: 100%;
        height: 100%;
    }
</style>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% endblock %}

{% block page_content %}

<div class="Status">
    <div class="container-fluid">
        <div class="row">
            <div class="container-fluid">
                <button id="clear" class="btn btn-default">
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Clear</span>
                </button>
            </div>
        </div>
        <div class="row">
            <br>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <label for="log">Status Log</label>
                <textarea id="log" class="form-control rounded-md" rows="20"></textarea>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src=" {{ url_for('static', filename='js/Status.js') }} " data="{{events}}"></script>
{% endblock %}

